*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Zen Kurenaido', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: #000;
    background: url(../images/day.jpg) center cover;
    background-position: center;
    background-size: cover;
    background-color: darkcyan;
}

#time{
    font-size: 8rem;
}

h1{
    margin-bottom: 3rem;
}

h2{
    margin-bottom: 0.5rem;
    opacity: 0.8;
}

@media (max-widht:700px){
    #time{
        font-size: 6rem;
    }
}
