*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Zen Kurenaido', sans-serif;
}

.container{
    background: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time{
    background-color: darkcyan;
}

.time h2{
    font-size: 5em;
}

.greeting{
    background-color: darkolivegreen;
}

.greeting p{
    font-size: 2em;
}

.question{
    background-color: goldenrod;
}

.question p{
    font-size: 1.8em;
}

.task{
    background-color: indianred;
}

.task p{
    font-size: 1.8em;
}